<!DOCTYPE html>
<html>
<head>
<title>个人日志</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
<script src="/static/js/headimg.js" language="javascript"></script>
</head>
<body><center>
	<!--header-->
	<div class="container">
	<div class="header">
		<div class="header-top">
			<div class="logo">
				<a href="/home/"><img src="/static/images/logo.png" alt="" ></a>
			</div>

			
			<div class="header-top-on">
				{% if logined %}
				<div class="head_img">
					<a href="/information/change_img/"><img src = '/static/{{User.Img}}/' onload = "DrawImage(this)"></a>
				</div>
				<p>welcome,{{User.Username}}</p>
				<p><a href='/loginout/'>退出登录</a></p>
				{% else %}
				<p><a href="/login/">登录</a>/<a href="/register/">注册</a></p>
				{% endif %}
			</div>
			<div class="clearfix"> </div>
		</div>
		<!---->
		<div class="header-bottom">
			<div class="top-nav">
				<span class="menu"> </span>
				<ul>
					<li><a href="/home/" data-hover="首页">首页  </a> </li>
					<li><a href="/guide/" data-hover="攻略" > 攻略</a></li>
					<li  class="active" ><a href="/diary/"> 日志</a></li>
					<li><a href="/team/" data-hover="我的团队">我的团队 </a></li>
					<li><a href="/information/" data-hover="个人资料">个人资料 </a></li>	
					<li><a href="/aim/" data-hover="旅游意向">旅游意向 </a></li>								</ul>
				<!--script-->
				<script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle(500, function(){
					});
				});
				</script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	<!---->
	
	<div class="container">
		<div class="Dtitle">
			{{diary.Dia_title}}
		</div>
		<div style="right:150px; margin:10px;">
			作者：{{diary.Dia_author.Username}}
		</div>
		<div class="Dcontext">
			<p>{{diary.Dia_context}}</p>        
			{% if diary.Img %}
			<div>
			<img src = "/static/{{diary.Img}}">
			</div>
			
			{% endif %}
			
		</div>
		<div class="Dcomment-con">
			<div class="head-comment">
				<div class="col-md-1 head-comment">评论</div>
				<div class="clearfix"> </div>
			</div>
			{% if answers %}
			<div class="col-md-12">
			<div class="Comments">
				{% for answer in answers %}
				<div class="comment">
					<div class="col-md-2 comment">
						<div class="head_img">
							<img src="/static/{{answer.Ans_author.Img}}/"><br>
						</div>
						<div class="comment-author">{{answer.Ans_author.Username}}</div>
					</div>
					<div class="col-md-9 comment">
						<div class="comment-context">{{answer.Ans_context}}</div><br>
						<div class="comment-date">{{answer.Ans_time}}</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				{% endfor %}
			</div>
			</div>
			{% endif %}
			
			<div class="add-comment">
				<div class="col-md-2 add-comment">
					<p class="your-para">MESSAGE</p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-12 add-comment">
				<form method = 'POST' action = '/diary/pinglun/'>{% csrf_token %}
                    <input type = 'hidden' name = "diary_id" value = {{diary.id}}>
					<textarea name="text" cols="120" rows="6" value=" " style="background-image:url('/static/images/textback.jpg');/"></textarea>
					<div class="col-md-3 col-md-offset-9">
					<input type="submit" name="commet" value="评论">
					</div>
				</form>
				</div>
			</div>
		
		</div>
		
	</div>
	<div class="container">
		<div class="footer">
			<p class="footer-class">本网站最终解释权归HIT-图灵机所有</p>
		</div>
	</div>	
</body>
</html>