<!DOCTYPE html>
<html>
<head>
<title>攻略</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
<script src="/static/js/headimg.js" language="javascript"></script>
</head>
<body>
	<!--header-->
	<div class="container">
	<div class="header">
		<div class="header-top">
			<div class="logo">
				<a href="/home/"><img src="/static/images/logo.png" alt="" ></a>
			</div>

			
			<div class="header-top-on">
				{% if logined %}
				<div class="head_img">
					<a href="/information/change_img/"><img src = '/static/{{User.Img}}/' onload = "DrawImage(this)"></a>
				</div>
				<p>welcome,{{User.Username}}</p>
				<p><a href='/loginout/'>退出登录</a></p>
				{% else %}
				<p><a href="/login/">登录</a>/<a href="/register/">注册</a></p>
				{% endif %}
			</div>
			<div class="clearfix"> </div>
		</div>
		<!---->
		<div class="header-bottom">
			<div class="top-nav">
				<span class="menu"> </span>
				<ul>
					<li><a href="/home/" data-hover="首页">首页  </a> </li>
					<li  class="active" ><a href="/guide/" > 攻略</a></li>
					<li><a href="/diary/" data-hover="日志"> 日志</a></li>
					<li><a href="/search/" data-hover="地图">地图 </a></li>
					<li><a href="/team/" data-hover="我的团队">我的团队 </a></li>
					<li><a href="/information/" data-hover="个人资料">个人资料 </a></li>
					<li><a href="/aim/" data-hover="旅游意向">旅游意向 </a></li>								</ul>
				<!--script-->
				<script>
				$("span.menu").click(function(){
					$(".top-nav ul").slideToggle(500, function(){
					});
				});
				</script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
	<!---->
	<div class="container">
		<div class="col-md-10 container">
		{% for guide in guides %}
		<div class="strategy">
			<div class="post-title">
				<h4><a href = '/guide/inf/?guide_id={{guide.id}}'>{{guide.Gui_title}}</a></h4>
				<div style="text-align:right">
				<a href = '/guide/change/?guide_id={{guide.id}}'><font color="0000ee">修改</font></a>&nbsp&nbsp
				<a href = '/guide/delete/?guide_id={{guide.id}}'><font color="0000ee">删除</font></a>&nbsp&nbsp
				</div>
				
			</div>
		</div>
		{% endfor %}
		</div>
	</div>
	<!---->
	<div class="container">
		<div class="footer">
			<p class="footer-class">本网站最终解释权归HIT-图灵机所有</p>
		</div>
	</div>		
</body>		
</body>
</html>